<div id="home" class="contact-form">
  <div class="row outer" id="one">
    <div class="inner">
      <div class="large-6 large-offset-3 medium-8 medium-offset-2 small-10 small-offset-1 columns" id="contact-form">
        <h3>Send us a message...</h3>
        <hr />
        <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
          <%= f.input :name, :required => true %>
          <%= f.input :email, :required => true %>
          <%= f.input :message, :as => :text, :required => true %>
          <div class= "hidden">
            <%= f.input :nickname, :hint => 'Leave this field blank!' %>
          </div>
          <div>
            </br>
            <%= f.button :submit, 'Send message', :class=> "button radius small" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

