<% provide(:title, "Portfolio") %>
<% provide(:path, "portfolio") %>
<% provide(:ogimage, "http://alxs.co.uk/assets/portfolio-ss.png") %>
<div class="portfolio-wrapper">
  <div class="row">
    <div class="inner">
      <div class="large-12 columns">
      <h3>
      Sites
      <hr />
      </h3>
        <div class="row">

          <div class="large-4 columns">
            <div class="projectWrapper">
              <%= link_to image_tag("btta-ss.png"), 'http://backtotheanthems.uk', :target => '_blank' %></h5>

              <div class="panel">
                <h5><%= link_to 'Back to the Anthems', 'http://backtotheanthems.uk', :target => '_blank' %></h5>
              </div>
            </div>
          </div>

          <div class="large-4 columns">
            <div class="projectWrapper">
              <%= link_to image_tag("novus-ss.png"), 'http://novusmusic.uk', :target => '_blank' %></h5>

              <div class="panel">
                <h5><%= link_to 'Novus Music', 'http://novusmusic.uk', :target => '_blank' %></h5>
              </div>
            </div>
          </div>

          <div class="large-4 columns">
            <div class="projectWrapper">
              <%= link_to image_tag("tips-ss.png"), 'http://tipsforthings.com', :target => '_blank' %></h5>

              <div class="panel">
                <h5><%= link_to 'Tips for Things', 'http://tipsforthings.com', :target => '_blank' %></h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="inner">
      <div class="large-12 columns">
      <br />
      <h3>
      Projects
      <hr />
      </h3>
        <div class="row">

          <div class="large-4 columns">
            <div class="projectWrapper">
              <%= link_to image_tag("column-ss.png"), column_path %>

              <div class="panel">
                <h5><%= link_to 'Column Navigation', column_path %></h5>
              </div>
            </div>
          </div>

          <div class="large-4 columns">
            <div class="projectWrapper">
              <%= link_to 'http://animulti.alxs.co.uk', :target => '_blank' do %>
              <%= image_tag("animulti-ss.png") %>
<div class="ribbon-wrapper-green">
<div class="ribbon-green">BETA</div>
</div>
              
              <% end %>
              <div class="panel">
                <h5><%= link_to 'jQuery aniMulti', 'http://animulti.alxs.co.uk', :target => '_blank' %></h5>
              </div>
            </div>
          </div>

          <div class="large-4 columns">
            <div class="projectWrapper">
              <%= link_to image_tag("sidebar-ss.png"), sidebar_path %>

              <div class="panel">
                <h5><%= link_to 'Sidebar Navigation', sidebar_path %></h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
