<div id="sidebar-wrapper">
  <ul>
    <li class="toggle-menu">
      <a class="" id="menu-toggle">
        <span class="fa fa-arrow-right" alt="Menu Toggle"></span>
        <span class="fa fa-arrow-left" alt="Menu Toggle"></span>
      </a>
    </li>
    
    <li class="sidebar-brand">
      <%= link_to 'ALXS Design', root_path %>
    </li>
    <li>
      <%= link_to root_path do %>Home<span class="fa fa-home" alt="Dashboard"></span><% end %>
    </li>
    <li>
      <%= link_to about_path do %>About<span class="fa fa-newspaper-o" alt="About"></span><% end %>
    </li>
    <li>
      <%= link_to contact_path, id: "contact" do %>Contact<span class="fa fa-envelope" alt="Contact"></span><% end %>
    </li>
    <li>
      <%= link_to portfolio_path, id: "portfolio" do %>Portfolio<span class="fa fa-pencil" alt="Portfolio"></span><% end %>
    </li>
    <li>
      <%= link_to location_path, id: "location" do %>Location<span class="fa fa-map-marker" alt="Location"></span><% end %>
    </li>
    <li>
    <div class="navigation-padding"></div>
    </li>
    <li class="menu-social">
      <a href="https://www.facebook.com/alxsdesign" target="_blank">Facebook<span class="fa fa-facebook"></span></a>
    </li>
    <li class="menu-social">
      <a href="https://github.com/tipsforthings" target="_blank">Github<span class="fa fa-github"></span></a>
    </li>
    <li class="menu-social">
      <a href="https://plus.google.com/u/0/116471654573031381012/posts/p/pub" target="_blank">Google+<span class="fa fa-google-plus"></span></a>
    </li>
    <li class="menu-social">
      <a href="https://twitter.com/alxsdesign" target="_blank">Twitter<span class="fa fa-twitter"></span></a>
    </li>
<!--    <li>
      <%= link_to '#' do %>Contact<span class="fi-address-book" alt="Contact"></span><% end %>
    </li> -->
  </ul>
</div>



